.container{
  display: flex;
  justify-items: center;
  justify-content:space-around;
}
.sup{
  display: flex;
  justify-items: center;
  justify-content:space-around;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  }
  .cancel{
    margin-right: 2rem;
  border: solid;

  border-radius: 0.3rem;
  border-color: #f1416c;
  text-align: center;
  color: #f1416c;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  border-width: 1.5px;
  }
  .Delete{
    margin-right: 2rem;
  border: solid;

  border-radius: 0.3rem;
  border-color: #f1416c;
  background-color: #f1416c;
  text-align: center;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  border-width: 1.5px;
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 34px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #f1416c;
    text-align: center;
  }

.text{
  display: flex;
  justify-content: center;
  justify-items: center;
}
.mat-dialog-container {
  background: #e4839b;
}
