

<div class="text">
  <div><h1>êtes-vous sûr de vouloir supprimer ?</h1></div>
  <div>
    <span class="material-icons">
      info
      </span>

  </div>


</div>
<br><br>
<div class="sup">

  <div>
    <a (click)=" onNoClick()" class="cancel">Cancel</a>
  </div>
  <div>

    <a  (click)="deleteProduct(editData.eventId)" class="Delete">OK</a>
  </div>
</div>
