<h1>{{editData.avenue}}</h1>
<h1>{{editData.maxMembers}}</h1>
<table>
  <tr>
    <td>Evnet ID</td>
    <td>{{editData.eventId}}</td>
  </tr>

  <tr>
    <td>Title</td>
    <td>{{editData.eventTitle}}</td>
  </tr>
  <tr>
    <td>Event  Description</td>
    <td>{{editData.eventDescription}}</td>
  </tr>
  <tr>
    <td>Event  Description</td>
    <td>{{editData.eventDescription}}</td>
  </tr>
  <tr>
    <td>Date Debut</td>
    <td>{{editData.startDate |date}}</td>
  </tr>
  <tr>
    <td>Date Fin</td>
    <td>{{editData.endDate|date}}</td>
  </tr>
</table>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>

</div>
