@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  }
  .success{
    color:var(--color-success);
   }
   .danger {
    color:var(--color-danger);
    }
  .profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
  }
  .text-muted {
    color: var(--color-info-dark);
 }
  img{
    display: block;
    width: 100%;
  }
  p {
    color: var(--color-dark-variant);
 }
 b{
    color: var(--color-dark);
 }

  small{
    font-size: 0.75rem;
  }
  .right {
    margin-top: 1.4rem;
    margin-right: 2rem;
   }
   .right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;

   }
   .right .top button {
    display: none;
    background: #f6f6f9;
   }
   .right .theme-toggler {
     background: var(--color-light);
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 1.6rem;
    width: 4.2rem;
     cursor: pointer;
     border-radius: var(--border-radius-1);
   }
   .right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .right .theme-toggler span.active {
    background: var(--color-primary);
     color: white;
    border-radius: var(--border-radius-1);
   }
   .right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
   }
  /* ==== RECENT UPDATES === */
    .right .recent-updates {
    margin-top: 1rem;
    }
    .right .recent-updates h2 {
    margin-bottom: 0.8rem;
    }
    .right .recent-updates .updates {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    }
    .right .recent-updates .updates:hover {
      box-shadow: none;
    }
    .right .recent-updates .updates .update {
     display: grid;
     grid-template-columns: 2.6rem auto;
     gap: 1rem;
     margin-bottom: 1rem;
    }

   /* ====== SALES ANALYTICS ===== === */
    .right .sales-analytics {
    margin-top: 2rem;
    }
    .right .sales-analytics h2 {
    margin-bottom: 0.8rem;
    }
    .right .sales-analytics .item {
      background: var(--color-white);
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 0.7rem;
      padding: 1.4rem var(--card-padding);
      border-radius: var(--border-radius-3);
      box-shadow: var(--box-shadow);
      transition: all 300ms ease;
      }
      .right .sales-analytics .item:hover{
        box-shadow: none;
      }
      .right .sales-analytics .item .right {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin: 0;
        width: 100%;
      }
      .right .sales-analytics .item .icon {
        padding: 0.6rem;
        color: var(--color-white);
        border-radius: 50%;
        background: var(--color-primary);
        display: flex;
       }
       .right .sales-analytics .item.offline .icon {
        background: var(--color-danger);
       }
       .right .sales-analytics .item.customers .icon {
        background: var(--color-success);
       }
       .right .sales-analytics .add-product{
          background-color: transparent;
          border: 2px dashed var(--color-primary);
          color: var(--color-primary);
          display: flex;
          align-items: center;
          justify-content: center;
       }
       .right .sales-analytics .add-product div{
        display: flex;
        align-items: center;
        gap: 0.6rem;
       }
       .right .sales-analytics .add-product div h3 {
        font-weight: 600;
       }


