<div class="bak">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-t-50 p-b-90">
        <form class="login100-form validate-form flex-sb flex-w" (ngSubmit)="ngSubmit(signInForm)" #signInForm="ngForm">
          <span class="login100-form-title p-b-51">
            Login
          </span>


          <div [ngClass]="check" data-validate = "Username is required">
            <input class="input100" type="email" name="email"  placeholder="Username"  ngModel>
            <span class="focus-input100"></span>
          </div>


          <div [ngClass]="check" data-validate = "Password is required">
            <input class="input100" type="password" name="password" placeholder="Password"  ngModel>
            <span class="focus-input100"></span>
          </div>

          <div class="flex-sb-m w-full p-t-3 p-b-24">
            <div class="contact100-form-checkbox">
              <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
              <label class="label-checkbox100" for="ckb1">
                Remember me
              </label>
            </div>

            <div>
              <a href="#" class="txt1">
                Forgot?
              </a>
            </div>
          </div>

          <div class="container-login100-form-btn m-t-17">
            <button type="submit" class="login100-form-btn">
              Login
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>


<div id="dropDownSelect1"></div>
