* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    }
  .container{
    display: grid;
    display: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto ;
  }
  
  .profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
  }
  .text-muted {
    color: var(--color-info-dark);
  }
  img{
    display: block;
    width: 100%;
  }
  p {
    color: var(--color-dark-variant);
  }
  b{
    color: var(--color-dark);
  }
  
  small{
    font-size: 0.75rem;
  }
  .topevent{
    display: flex;
    justify-content: space-between;
  }
  .main .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
    margin-right: 2rem;
  
   }
   .main .top button {
    display: none;
    background: #f6f6f9;
   }
   .main .theme-toggler {
     background: var(--color-light);
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 1.6rem;
    width: 4.2rem;
     cursor: pointer;
     border-radius: var(--border-radius-1);
   }
   .main .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .main .theme-toggler span.active {
    background: var(--color-primary);
     color: white;
    border-radius: var(--border-radius-1);
   }
   .main .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
   }
  
  
  .mat-elevation-z8 {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
  
  }
  
  .tablestyle{
    background-color:var(--color-white);
  }
  .paginator{
    background-color:var(--color-white);
  
  }
  .mat-paginator-outer-container{
    color: red;
  }
  
  .po {
    color: var(--color-dark-variant);
  }
  td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
  }
  th{
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    color: var(--color-dark);
  }
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    }
    .primary{
      color: var(--color-primary);
    }
   .danger {
    color:var(--color-danger);
    }
   .success{
    color:var(--color-primary);
      background-color: transparent;
      border: none;
      box-shadow: none;
   }
   .ajout{
     display: flex;
     align-items: center;
   }
   .warning{
    color: var(--color-primary);
   }
  small{
    font-size: 0.75rem;
  }
  .text-muted {
    color: var(--color-info-dark);
  }
  main{
    margin-top: 1.4rem;
  }
  main .date{
    display: inline-block;
    background: var(--color-light);
    border-radius:var(--border-radius-1) ;
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
  
  }
  main .date input[type="date"]{
    background: transparent;
    color: var(--color-dark);
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .tab{
    max-width: 1200px;
    margin:0 auto;
  
  
  }
  
  
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar.mat-primary {
      background: transparent;
      padding: var(--card-padding);
      border-radius: var(--card-border-radius);
  
      color:var( --color-dark);
  }
  