<div class="container">
    <app-asidebar></app-asidebar>
    <div class="main">
      <main>
        <div class="topevent">
          <div>
            <h1>Dashbord</h1>
  
        <div class="date">
          <input type="date">
        </div>
          </div>
  
        <div class="top">
          <button id="menu-btn" >
            <span class="material-icons-sharp" >menu</span>
          </button>
          <div class="theme-toggler">
            <span class="material-icons-sharp active" (click)="modetoggle()">light_mode</span>
            <span class="material-icons-sharp">dark_mode</span>
          </div>
          <div class="profile">
            <div class="info">
              <p>Hey,<b>Daniel</b></p>
              <small class="text-muted ">Admin</small>
            </div>
            <div class="profile-photo">
              <img src="./assets/image/up.jpg" alt="">
            </div>
          </div>
        </div>
        </div>
  
  
  
       <div>
         <br>
        <mat-toolbar color="primary">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>supervised_user_circle</mat-icon>
          </button>
          <span>My App</span>
          <span class="example-spacer"></span>
          <div class="ajout">
            <button mat-raised-button color="warn" (click)="openDialog()" class="success">Ajouter prospect</button>
            <span class="material-icons-sharp" (click)="openDialog()">add</span>
          </div>
  
        </mat-toolbar>
       </div>
       <div class="tab">
        <div style="margin-top: 10px">
          <mat-form-field appearance="standard">
            <mat-label >Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
  
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort class="tablestyle">
  
              <!-- ID Column -->
              <ng-container matColumnDef="prospectId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>prospectId</th>
                <td mat-cell *matCellDef="let row"> {{row.prospectId}} </td>
              </ng-container>
  
              <!-- ID Column -->
              <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> nom </th>
                <td mat-cell *matCellDef="let row"> {{row.nom}} </td>
              </ng-container>
  
              <!-- Progress Column -->
              <ng-container matColumnDef="prenom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> prenom </th>
                <td mat-cell *matCellDef="let row"> {{row.prenom}} </td>
              </ng-container>
  
              <!-- Name Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
              </ng-container>
              <ng-container matColumnDef="cin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> cin </th>
                <td mat-cell *matCellDef="let row"> {{row.cin}} </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button  color="primary">
                      <mat-icon (click)=" editProduct(row)">edit</mat-icon>
                    </button>
                    <button  mat-icon-button color="warn">
                      <mat-icon>delete</mat-icon>
                    </button>

                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
  
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" ></mat-paginator>
          </div>
  
         </div>
  
      </div>
      </main>
  
    </div>
  
  
  </div>
  
  
