
* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  }
  .primary{
    color: var(--color-primary);
  }
 .danger {
  color:var(--color-danger);
  }
 .success{
  color:var(--color-success);
 }
 .warning{
  color: var(--color-primary);
 }
small{
  font-size: 0.75rem;
}
.text-muted {
  color: var(--color-info-dark);
}
main{
  margin-top: 1.4rem;
}
main .date{
  display: inline-block;
  background: var(--color-light);
  border-radius:var(--border-radius-1) ;
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;

}
main .date input[type="date"]{
  background: transparent;
  color: var(--color-dark);
}

main .insights {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.6rem;
}
main .insights > div {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
main .insights >div:hover{
  box-shadow: none;
}
main .insights > div span {
  background: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}
main .insights > div.expenses span {
 background: var(--color-danger);
}
main .insights > div.income span {
 background: var(--color-success);
}
main .insights > div .middle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}
main .insights .progress {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}
main .insights svg{

  width: 7rem;
  height: 7rem;
}
main .insights svg circle {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);

}
main .insights .sales svg circle {
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}
 main .insights .expenses svg circle {
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}
 main .insights .income svg circle {
  stroke-dashoffset: 35;
  stroke-dasharray: 110;
 }
 main .insights .progress .number{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .insights small {
  margin-top: 1.3rem;
  display: block;
}



main .recent-orders {
  margin-top: 2rem;
}
main .recent-orders h2 {
  margin-bottom: 0.8rem;
}
main .recent-orders table {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
main .recent-orders table:hover {
  box-shadow: none;
}
main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}
main table tbody tr:last-child td{
  border: none;
}
main .recent-orders a{
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
}
