<h1 mat-dialog-title>Ajouter</h1>
<div mat-dialog-content>
    <form [formGroup]="productForm">

        <mat-form-field appearance="outline">
          <mat-label>nom</mat-label>
          <input formControlName="nom" matInput placeholder="nom">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>prenom</mat-label>
        <input formControlName="prenom" matInput placeholder="prenom">
    </mat-form-field>

        

      <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input formControlName="email" matInput  placeholder="Placeholder">
      </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>cin</mat-label>
            <input formControlName="cin" matInput  placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>lieu</mat-label>
            <input formControlName="lieu" matInput  placeholder="Placeholder">
        </mat-form-field>

    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
   <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()">{{ actionBtn }}</button>
</div>
