<div class="container">
  <aside>
    <div class="top">
      <div class="logo">
        <img src="./assets/image/mediasoft.png" alt="">

      </div>
      <div class="close" id="close-btn">
        <span class="material-icons-sharp">close </span>
      </div>
    </div>
    <div class="sidebar">
      <a href="">
        <span class="material-icons-sharp">grid_view </span>
        <h3>Dashbord</h3>
      </a>
      <a href=""  class="active">
        <span class="material-icons-sharp">account_balance </span>
        <h3>Commercial</h3>
      </a>
      <a href="/client" >
        <span class="material-icons-sharp">people_alt</span>
        <h3>Gestion Client</h3>
      </a>
      <a href="/prospect">
        <span class="material-icons-sharp">
          assignment_ind
          </span>

        <h3>Gestion Prospect</h3>
      </a>
      <a href="">
        <span class="material-icons-sharp">shopping_cart</span>
        <h3>Gestion de Stock</h3>
      </a>
      <a href="/event" >
        <span class="material-icons-sharp">event </span>
        <h3>Evénement</h3>
        <span class="message-count">26</span>
      </a>
      <a href="">
        <span class="material-icons-sharp">inventory </span>
        <h3>Gestion Projet</h3>
      </a>
      <a href="">
        <span class="material-icons-sharp">report_gmailerrorred </span>
        <h3>Reports</h3>
      </a>
      <a href="">
        <span class="material-icons-sharp">settings</span>
        <h3>Settings</h3>
      </a>
      <a href="">
        <span class="material-icons-sharp">add </span>
        <h3>Ajouter Projet</h3>
      </a>
      <a href="">
        <span class="material-icons-sharp">logout </span>
        <h3>Logout</h3>
      </a>
    </div>
  </aside>

</div>
