@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ROOT VARAIBLES */


* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  }
  html{
    font-size: 14px;
  }
  body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: #8585ad;
    user-select: none;
    overflow-x: hidden;
  }
  .container{
    display: grid;
    display: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
  }
  .danger {
    color:var(--color-danger);
    }

  a{
    color: var(--color-dark);
  }
  img{
    display: block;
    width: 100%;
  }
  h1{
    font-size: 1.8rem;
    font-weight: 800;
  }
  h2{
    font-size: 1.4rem;
  }
  h3{
    font-size: 0.87rem;
    margin-top: 1rem;
  }
  h4{
    font-size: 0.8rem;
  }
  h5{
    font-size: 0.77rem;
  }
  small{
    font-size: 0.75rem;
  }
  .profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
  }
  .text-muted {
    color: var(--color-info-dark);
 }
 p {
    color: var(--color-dark-variant);
 }
 b{
    color: var(--color-dark);
 }

 aside{
   height: 100vh;

 }
 aside .top {

   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 1.4rem;
 }
 aside .logo{
   display: flex;
   gap: 0.8rem;
 }
 aside .logo img{
   width: 8rem;
   height: 3.5rem;
   margin-left: 2rem;
 }
 aside .close{
   display: none;
 }
 aside .sidebar{

   display: flex;
   flex-direction: column;
   height: 86vh;
   position: relative;
   top: 3rem;
 }

 aside h3{
     font-weight: 500;
 }

 aside .sidebar a{
   display: flex;
   color:#7d8da1;
   margin-left: 2rem;
   gap: 1rem;
   align-items: center;
   position: relative;
   height: 2.7rem;
   transition: all 300ms ease;

 }
 aside .asidebar a span {
   font-size:  1.6rem;
   transition: all 300ms ease;
 }
 aside .sidebar a:last-child {
   position: absolute;
   bottom: 2rem;
   width: 100%;
 }
aside .sidebar a.active {
  background: rgba(132, 139, 200, 0.18);
  color: #7380ec;
  margin-left: 0;
}
aside .sidebar a.active::before{
  content: "";
  width: 6px;
  height: 100%;
  background: #7380ec;
}
aside .sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}
aside .sidebar a:hover {
  color: var(--color-primary);
}
aside .sidebar a:hover span {
  margin-left: 1rem;
}
aside .sidebar .message-count {
  background: var(--color-danger);
  color: white;
  padding: 2px 10px;
  font-size: 11px;
  border-radius: 0.4rem;
}
