<h1 mat-dialog-title>Ajouter evenement</h1>
<div mat-dialog-content>
    <form class="form" [formGroup]="productForm">

      <mat-form-field appearance="outline">
        <mat-label>eventTitle</mat-label>
        <input formControlName="eventTitle" matInput placeholder="eventTitle">
    </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>eventDescription</mat-label>
        <input formControlName="eventDescription" matInput placeholder="eventDescription">
    </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>startDate</mat-label>
            <input formControlName="startDate" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>endDate</mat-label>
          <input formControlName="endDate" matInput [matDatepicker]="picker1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>avenue</mat-label>
        <input formControlName="avenue" matInput  placeholder="Placeholder">
      </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>maxMembers</mat-label>
            <input formControlName="maxMembers" matInput  placeholder="Placeholder">
        </mat-form-field>

    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
   <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()">{{ actionBtn }}</button>
</div>
